/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===== END reset styles ======*/

/*==== general ========*/
*{
    box-sizing: border-box;
}

body{
    padding-bottom: 500px;/*don`t forgot delete before release*/
}

.container{
	background: #eceef1; 
}
.header_container{
	padding: 10px 0 10px 0;
}
.register_sidebar{
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}
.left_sidebar,
.right_sidebar{
	padding-left: 12px;
	color: #4c4c4c;
}
.left_sidebar>p{
	margin:	0;
	font-size:12px;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	line-height: 1.5; 
}
.a_link{
	text-decoration: none;
	color: #0077C5;
}
.btn{
	background: #0077C5;
    border-radius: 4px;
	border: 1px solid #4c4c4c;
	font-family: 'Heebo', sans-serif;
	color: white;
	padding: 5px 18px 5px 18px;
	cursor: pointer;
}
i{
	vertical-align: text-top;
	height: 1em;
	width: 1rem;
	margin-top: 2px;
	margin-right: 10px;
	display: inline-block;
}
/*=== END sidebar ====*/

/*===HEADER start ====*/
.header{
	padding: 0 11px 0 11px;
}
.header_content{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo{
	margin-bottom: 1rem;;
}
.logo_img{
	
	width: 118px;
    height: 35px;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.27/images/ecosystem_logos_new.png);
}

.under_logo,
.mint,
.quickbox,
.turbotax{
	display: flex;
	flex-wrap: wrap;
}
.mint_img,
.mint_text,
.quickbooks_img,
.quickbooks_text,
.turbotax_img,
.turbotax_text{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	left: 142px;
}
.mint_img_hide{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top:-12px;
	margin: auto;
	height: 46px;
	width: 46px;
	background-image: url(../form/img/mint-logo.png);
	animation: 1.4s mintHide ease-in-out forwards;
}
.mint_img{
	height: 23px;
	width: 23px;
	background-image: url(../form/img/mint-logo.png);
	animation: anime1 1.1s cubic-bezier(.7, 0, 0, 1) forwards, 1.4s zoom ease-in-out forwards;
}

.mint_text{
	width: 38px;
	height: 23px;
	background-image: url(../form/img/mint-text.png);
	animation: anime1 1.1s cubic-bezier(.7,0,0,1) forwards, fade-in 667ms ease-in 533ms forwards;
	opacity: 0;
}
.quickbooks_img{
	width: 23px;
	height: 23px;
	background-image: url(../form/img/quickbooks-logo.png);
	animation: anime1 1.1s cubic-bezier(.2,0,.5,1) .1s forwards, fade-in 667ms ease-in 533ms forwards, 1.4s zoom ease-in-out forwards;
	opacity: 0;
}
.quickbooks_text{
	width: 100px;
	height: 23px;
	background-image: url(../form/img/quickbooks-text.png);
	animation:anime1 1.1s cubic-bezier(.2,0,.5,1) .1s forwards, fade-in .5s ease-in 733ms forwards;
    opacity: 0;
}
.turbotax_img{
	width: 23px;
	height: 23px;
	background-image: url(../form/img/turbotax-logo.png);
	animation: anime1 867ms cubic-bezier(.5,0,.25,1) 433ms forwards, fade-in 467ms ease-in 833ms forwards, 1.4s zoom ease-in-out forwards;
	opacity: 0;
}
.turbotax_text{
	width: 72px;
	height: 23px;
	background-image: url(../form/img/turbotax-text.png);
	animation: anime1 867ms cubic-bezier(.5,0,.25,1) 433ms forwards, fade-in 433ms ease-in 867ms forwards;
    opacity: 0;
}
@keyframes mintHide{
	0%{
		transform: scale(.5,.5);
	}
	50%{
		transform: scale(1,1);
	}
	100%{
		transform: scale(.5,.5);
	}
}

@keyframes anime1{
	0%{
		left: 142px;
	}
	100%{
		left:0;
	}
}
@keyframes fade-in{
	100%{
		opacity: 1;
	}
}
@keyframes zoom{
	0%{
		transform: scale(1,1);
	}
	50%{
		transform: scale(2,2);
	}
	100%{
		transform: scale(1,1);
	}
}
/*=== END HEADER ====*/

